<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết giao dịch</title>
</head>
<body>

<h2>Chi tiết giao dịch</h2>

<div>
    <p><strong>Mã giao dịch:</strong> <span th:text="${transaction.maGiaoDich}"></span></p>
    <p><strong>Loại dịch vụ:</strong> <span th:text="${transaction.loaiDichVu}"></span></p>
    <p><strong>Ngày giao dịch:</strong> <span th:text="${transaction.ngayGiaoDich}"></span></p>
    <p><strong>Đơn giá:</strong> <span th:text="${transaction.donGia}"></span> VND/m²</p>
    <p><strong>Diện tích:</strong> <span th:text="${transaction.dienTich}"></span> m²</p>
    <p><strong>Tên khách hàng:</strong> <span th:text="${transaction.customer.tenKhachHang}"></span></p>
    <p><strong>Số điện thoại:</strong> <span th:text="${transaction.customer.soDienThoai}"></span></p>
    <p><strong>Email:</strong> <span th:text="${transaction.customer.email}"></span></p>
</div>


<button><a href="/transactions/list">Quay lại danh sách</a></button>

</body>
</html>