<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
        }
        .container {
            max-width: 500px;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>Create Customer</h1>

    <p><a href="/customers" class="btn btn-secondary">Customer list</a></p>

    <form th:action="@{/customers/create}" th:object="${customer}" method="post">

        <div class="form-group">
            <label for="tenKhachHang">First name:</label>
            <input type="text" th:field="*{tenKhachHang}" id="tenKhachHang" class="form-control" placeholder="Enter first name" required />
        </div>

        <div class="form-group">
            <label for="soDienThoai">So dien thoai:</label>
            <input type="text" th:field="*{soDienThoai}" id="soDienThoai" class="form-control" placeholder="Enter phone number" required />
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" th:field="*{email}" id="email" class="form-control" placeholder="Enter email" required />
        </div>

        <button type="submit" class="btn btn-primary btn-block">Create Customer</button>
    </form>

    <a href="/transactions/list" class="btn btn-secondary">Trở về</a>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
